.image-wrapper {
    text-align: center;
    margin-top: 2rem;
  }
  
  .image-wrapper img {
    max-width: 100%;
    height: auto;
  }
  
  .image-wrapper p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
  }

  /* HowItWorksImageWrapper.css */
.how-it-works-image-wrapper {
    margin: 2rem auto;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Adding a slight shadow */
    padding: 1rem;
  }
  
  .how-it-works-image-wrapper img {
    max-width: 100%;
    height: auto;
  }
  
  .how-it-works-image-wrapper p {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
  }
  
  
  